.gameButton{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 20vw;
    background-color: #72a6c7b3;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.gameButton p {
    color: #32617d;
    font-weight: 700;
    font-size: 2vw;
}

.gameContainer{
    position: absolute;
    width: 100vw;
    height: 78vh;
}

.gameTime{
    position: absolute;
    width: 90%;
    height: 10vw;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.gameScore{
    position: absolute;
    width: 90%;
    height: 5vw;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.gameScore p {
    color: #32617d;
    font-weight: 700;
    font-size: 2vw;
}

.gameTime p {
    color: #32617d;
    font-weight: 700;
    font-size: 2vw;
}

.titleGame{
    display: flex;
    justify-content: center;
    height: 15vh;
}



.polymerase_dnaSequence{
    position: relative;
    top: 35%;
}