.arn_container{
    position: absolute;
    z-index: 88;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
}

.bpSelected {
    border: 3px solid rgb(223, 181, 58) !important ;
    color: rgb(255, 240, 196) !important ;
    box-shadow: 0px 0px 24px 12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 24px 12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px 12px rgba(0, 0, 0, 0.75);
    z-index: 89;
  }

.polymerase_container{
    background-image: url("./img/polymerase.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 30vw;
    height: 30vw;
}

.polymerase_container_up{
    background-image: url("./img/polymerase.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 98%;
    position: absolute;
    width: 30vw;
    height: 13vw;
    z-index: 85;
}

.sequenceDNAContainer{
    position: absolute;
    z-index: 80;
    width: 100%;
}

.sequenceGame{
    position: relative;
    width: 100%;
    height: 100%;
}


.bpContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #ffffff;
  }
  
  .bpTarget {
    color: #ffffff;
  }
  
  .bpTargetRight {
    color: #42db34;
  }
  
  .bpTargetError {
    color: #db3434;
  }
  
  .pstyle {
    font-family: "Courier New", Courier, monospace;
    font-size: 4vw;
    letter-spacing: 6px;
    word-spacing: 1.6px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
  }
  
  .rdb_sequence_A {
    background-color: #3cff94;
    color: #fff;
  }
  
  .rdb_sequence_G {
    background-color: #ffe659;
    color: #fff;
  }
  
  .rdb_sequence_T {
    background-color: #ff5959;
    color: #fff;
  }
  
  .rdb_sequence_U {
    background-color: #fc6aed;
    color: #fff;
  }
  
  .rdb_sequence_C {
    background-color: #828cff;
    color: #fff;
  }
  
  .bpInv-19{
    margin-top: 24px
  }
  .bpInv-5{
    margin-top: 24px
  }
  
  .bpInv-18{
    margin-top: 44px
  }
  .bpInv-6{
    margin-top: 44px
  }
  
  .bpInv-17{
    margin-top: 54px
  }
  .bpInv-7{
    margin-top: 54px
  }
  
  .bpInv-16{
    margin-top: 74px
  }
  .bpInv-8{
    margin-top: 74px
  }
  
  .bpInv-15{
    margin-top: 84px
  }
  .bpInv-9{
    margin-top: 84px
  }
  
  .bpInv-14{
    margin-top: 94px
  }
  .bpInv-10{
    margin-top: 94px
  }
  
  .bpInv-13{
    margin-top: 104px
  }
  
  .bpInv-12{
    margin-top: 104px
  }
  
  .bpInv-11{
    margin-top: 104px
  }